.centertext {
  text-align: center;
}

.original {
  z-index: -1;
}

.heatmap {
  opacity: 0.7;
  transform: scale(1.05, 1.04);
  margin-left: -1%;
  position: absolute;
  left: 0;
  top: 0;
}

/*.heatmap:hover {
  opacity: 0.0;
}*/

td {
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
}
